<div class="row">
    <div class="span4">
        <div class="profile-box profile-view">
            <div class="thumb">
                <%= link_to gravatar_for(current_user, size: 140), current_user %>
            </div>
            <div class="text">
                <p>Welcome</p>
                <a href="#" class="btn-style"><%= current_user.name %></a>
            </div>
        </div>
        <div class="profile-box edit-profile">
            <h2>Learning Area</h2>
            <ul>
                <li><%= link_to 'Categories', categories_path %></li>
                <li><%= link_to 'Lessons', lessons_path %></li>
            </ul>
        </div>
    </div>
    <div class="span8">
        <div class="sidebar">
            <div class="widget widget-papular-post">
                <ul id="activities">
                    <%= render @activities %>
                </ul>
                <div id="scroll">
                    <%= will_paginate @activities %>
                </div>
            </div>
        </div>
    </div>
</div>
