<h3 class="row">
  <%= t ".all_lesson" %>
</h3>
<div class="event-vanue">
    <table>
        <div class="row", id="word_list">
          <tr>
            <td>
              <%= t ".lesson_category_name" %>
            </td>
            <td>
              <%= t ".lesson_results_answered" %>
            </td>
            <td>
              <%= t ".lesson_create_time" %>
            </td>
            <td>
              <%= t ".lesson_mark" %>
            </td>
          </tr>
            <%= render @lessons %>
            <%= will_paginate @lessons %>
        </div>
    </table>
</div>
